img {
  width: 4em;
  padding-right: 1em;
}

.mat-yes {
  background-color: #33a64c;
  color: #fff;
}

.selectors {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1em;
}

mat-list {
  height: 75vh;
  overflow: auto;
}

mat-list-item[aria-selected="true"] {
  background-color: #888;
}

.cdk-drop-list-dragging .cdk-drag {
  /* Adapted from https://trungk18.com/ */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  display: none;
}
