.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10em;
  width: 60%;
  padding-top: 2em;
  padding-bottom: 2em;
}

p {
  text-align: center;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  margin-top: 1em;
  width: 1.5em;
  height: 1.5em;
}